<center><h1>Ajouter un Pilote</h1></center>

<form action="/menuPilotes/ajouterPilote/ajout" method="post">
    <table>
        
        <tr><td>Prénom</td><td><input type="text" name="prenom" required/></td></tr>
        <tr><td>Nom</td><td><input type="text" name="nom" required/></td></tr>
        <tr><td>Date de naissance</td>
            <td>
                <input type="number" width="50" name="jour" min="1" max="31" size="2" required/> / 
                <input type="number" name="mois" size="2" min="1" max="12" required/> / 
                <input type="number" name="annee" size="4" required/>
            </td>
        </tr>
        <tr>
            <td>Nationalité</td>
            <td>
                <select name="nationalite">
                    {{#each listeNationalite}}
                        <option value="{{this.paynum}}">{{this.paynat}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>Ecurie </td><td>
            <select name="ecurie">
                {{#each listeEcurie}}
                    <option value="{{this.ecunum}}">{{this.ecunom}}</option>
                {{/each}}
            </select>
            </td>
        </tr>
        <tr><td>Points</td><td><input type="number" name="points" min="0" required/> pts</td></tr>
        <tr><td>Poids</td><td><input type="number" name="poids"  min="0" required/> kg</td></tr>
        <tr><td>Taille</td><td><input type="number" name="taille"  min="0" required/> cm</td></tr>
        <tr><td>Description</td><td><textarea name="description" cols="75" rows="5" required></textarea></td></tr>
        
    </table>
        
    <br/><br/>
    <input type="submit" name="ajouter" value="Ajouter" id="bouton"/>
</form>

<br class="myboth" />